/* layout */
#wrap {width: 100%;}
#header {
  width: 100%; height: 327px;
  background: url(../img/header_bg.jpg) repeat-x center top;
}
#contents {width: 100%; height: 400px; background-color: #888;}
#footer {width: 100%; height: 200px; background-color: #777;}

/* Display Image
1. HTML tag: <img alt=""> - 'meaningful image'  (alt: alternative words - *web standard*)
2. CSS property: background-image: url()  - 'unmeaningful image'
3. CSS Image Sprites (IR effect)
*/

/* container */
.container {position: relative; width: 990px; background-color: rgba(255,255,255,0.4); margin: 0 auto;}

/* contents layout */
#cont-nav {width: 100%; height: 100px; background-color: #666;}
#cont-tit {width: 100%; height: 100px; background-color: #555;}
#cont-ban {width: 100%; height: 100px; background-color: #333;}
#cont-cont {width: 100%; height: 100px; background-color: #222;}

/* quick */
.quick {text-align: right;}
.quick a {color: #fff; padding: 5px 0 0 10px; display: inline-block;}
.quick a:hover {color: #ccc;}

/* title inline*/
/* .title {text-align: center;}
.title p {background-color: #2698cb; font-size: 28px; display: inline-block; color: #fff; margin-top: 100px; padding: 5px 15px; text-transform: uppercase;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; display: inline-block; color: #fff; text-transform: capitalize; padding: 5px 15px;} */

/* title absolute position */
.title {}
.title h1 {position: absolute; left: 380px; top: 158px;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; display: block; color: #fff; text-transform: capitalize; padding: 5px 15px;}
.title p {background-color: #2698cb; font-size: 28px; font-weight: 500; color: #fff; padding: 5px 15px; text-transform: uppercase; position: absolute; left: 130px; top: 110px;}

/* icon */
.icon {position: absolute; left: 375px; top: 230px;}
.icon ul {overflow: hidden;}
.icon li {float: left;}

/* using background-image */
/* .icon li a {width: 57px; height: 57px; display: block; margin: 0 3px; background-image: url(../img/icon1.gif);}
.icon li.icon-tit1 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit2 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit3 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit4 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit1 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit2 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit3 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit4 a:hover {background-image: url(../img/icon1_on.gif);} */

/* using image sprite */
.icon li a {width: 57px; height: 57px; display: block; margin: 0 3px; background-image: url(../img/icon.png);}
.icon li.icon-tit1 a {}
.icon li.icon-tit2 a {background-position: 0 -120px;}
.icon li.icon-tit3 a {background-position: 0 -240px;}
.icon li.icon-tit4 a {background-position: 0 -360px;}
.icon li.icon-tit1 a:hover {background-position: 0 -60px;}
.icon li.icon-tit2 a:hover {background-position: 0 -180px;}
.icon li.icon-tit3 a:hover {background-position: 0 -300px;}
.icon li.icon-tit4 a:hover {background-position: 0 -420px;}
