/* layout */
body {background: url(../img/body_bg.gif) #f1f4fb;}
#wrap {}
#header {
  height: 327px;
  background: url(../img/header_bg.jpg) repeat-x center top;
}
#contents {}
#footer {height: 200px; background-color: #777;}

/* Display Image
1. HTML tag: <img alt=""> - 'meaningful image'  (alt: alternative words - *web standard*)
2. CSS property: background-image: url()  - 'unmeaningful image'
3. CSS Image Sprites (IR effect)
*/

/* container (middle layout) */
.container {position: relative; width: 990px; margin: 0 auto;}

/* contents layout (whole layout) */
#cont-nav {background: url(../img/cont_nav_bg.png) repeat-x;}
#cont-tit {background-color: #fff;}
#cont-ban {background-color: #dceff7;}
#cont-cont {}

/* quick */
.quick {text-align: right;}
.quick a {color: #fff; padding: 5px 0 0 10px; display: inline-block;}
.quick a:hover {color: #ccc;}

/* title inline*/
/* .title {text-align: center;}
.title p {background-color: #2698cb; font-size: 28px; display: inline-block; color: #fff; margin-top: 100px; padding: 5px 15px; text-transform: uppercase;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; display: inline-block; color: #fff; text-transform: capitalize; padding: 5px 15px;} */

/* title absolute position */
.title {}
.title h1 {position: absolute; left: 380px; top: 158px;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; display: block; color: #fff; text-transform: capitalize; padding: 5px 15px;}
.title p {background-color: #2698cb; font-size: 28px; font-weight: 500; color: #fff; padding: 5px 15px; text-transform: uppercase; position: absolute; left: 130px; top: 110px;}

/* icon */
.icon {position: absolute; left: 375px; top: 230px;}
.icon ul {overflow: hidden;}
.icon li {float: left;}

/* using background-image */
/* .icon li a {width: 57px; height: 57px; display: block; margin: 0 3px; background-image: url(../img/icon1.gif);}
.icon li.icon-tit1 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit2 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit3 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit4 a {background-image: url(../img/icon1.gif);}
.icon li.icon-tit1 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit2 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit3 a:hover {background-image: url(../img/icon1_on.gif);}
.icon li.icon-tit4 a:hover {background-image: url(../img/icon1_on.gif);} */

/* using image sprite */
.icon li a {width: 57px; height: 57px; display: block; margin: 0 3px; background-image: url(../img/icon.png);}
.icon li.icon-tit1 a {}
.icon li.icon-tit2 a {background-position: 0 -120px;}
.icon li.icon-tit3 a {background-position: 0 -240px;}
.icon li.icon-tit4 a {background-position: 0 -360px;}
.icon li.icon-tit1 a:hover {background-position: 0 -60px;}
.icon li.icon-tit2 a:hover {background-position: 0 -180px;}
.icon li.icon-tit3 a:hover {background-position: 0 -300px;}
.icon li.icon-tit4 a:hover {background-position: 0 -420px;}

/* nav */
.nav {overflow: hidden; padding: 20px 0;}
.nav div {float: left; width: 40%;}
.nav div h3 {font-size: 18px; color: #25a2d0;}
.nav div ul {overflow: hidden;}
.nav div ul li {width: 50%; float: left;}
.nav div ul li a {color: #333; padding: 3px;}
.nav div ul li a:hover {background-color: #1a96d0; color: #fff;}
.nav div.last {width: 20%;}
.nav div.last ul li {width: 100%;}

/* tit */
.tit {}
.tit h2 {text-align: center; font-size: 39px; color: #2c94c4; letter-spacing: 2px; font-family: 'Indie Flower', cursive; font-weight: bold;}
.tit .btn {position: absolute; right: 0; top: 5px; display: block; width: 57px; height: 57px; background: url(../img/icon.png) 0 -540px;}
.tit .btn:hover {background-position: 0 -480px;}

/* ban */
.ban {padding: 30px 0;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px; text-align: center; font-size: 0;}
.ban ul li a img {border: 4px solid #dcdcdc;}
.ban ul li a:hover img {border-color: #98bcdc;}
.ban .ban-prev {position: absolute; left: -30px; top: 70px; width: 23px; height: 43px; background: url(../img/arrow.gif);}
.ban .ban-prev:hover {background-position: -23px 0;}
.ban .ban-next {position: absolute; right: -30px; top: 70px; width: 23px; height: 43px; background: url(../img/arrow.gif) 0 -43px;}
.ban .ban-next:hover {background-position: -23px -43px;}

/* cont layout */
.cont {overflow: hidden; padding-top: 30px;}
.cont .box {position: relative; width: 289px; height: 364px; float: left; margin: 0 30px 30px 0; padding-right: 30px;}
.cont .box1 {border-right: 1px solid #c8c8c8;}
.cont .box2 {border-right: 1px solid #c8c8c8;}
.cont .box3 {margin-right: 0; padding-right: 0;}
.cont .box4 {border-right: 1px solid #c8c8c8;}
.cont .box5 {border-right: 1px solid #c8c8c8;}
.cont .box6 {margin-right: 0; padding-right: 0;}

.cont .box .ico-img {width: 57px; height: 57px; display: block; background: url(../img/icon.png); position: absolute; left: 0; top: 6px; cursor: pointer;}
.cont .box .ico-tit {padding-left: 67px; font-size: 18px; color: #2c94c4; }
.cont .box .ico-desc {padding-left: 67px; padding-bottom: 20px; color: #878787; border-bottom: 1px solid #d0d0d0; margin-bottom: 15px;}
.cont .box1 .ico-img {background-position: 0 -600px;}
.cont .box2 .ico-img {background-position: 0 -720px;}
.cont .box3 .ico-img {background-position: 0 -840px;}
.cont .box4 .ico-img {background-position: 0 -960px;}
.cont .box5 .ico-img {background-position: 0 -1080px;}
.cont .box6 .ico-img {background-position: 0 -1200px;}
.cont .box1 .ico-img:hover {background-position: 0 -660px;}
.cont .box2 .ico-img:hover {background-position: 0 -780px;}
.cont .box3 .ico-img:hover {background-position: 0 -900px;}
.cont .box4 .ico-img:hover {background-position: 0 -1020px;}
.cont .box5 .ico-img:hover {background-position: 0 -1140px;}
.cont .box6 .ico-img:hover {background-position: 0 -1260px;}

/* notice */
.notice {position: relative;}
.notice h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice li {background: url(../img/dot.gif) no-repeat 0px 8px; padding-left: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice .more {position: absolute; right: 0; top: 5px; background: url(../img/more.png) no-repeat; width: 16px; height: 16px; display: block;}

/* notice2  */
.notice2 {position: relative;}
.notice2 h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice2 li {background: url(../img/dot.gif) no-repeat 0px 8px; padding-left: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice2 li a {float: left; width: 60%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice2 li .time {float: right; width: 30%; text-align: right;}
.notice2 .more {position: absolute; right: 0; top: 5px; background: url(../img/more.png) no-repeat; width: 16px; height: 16px; display: block;}

/* notice3 */
.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice3 li {position: relative; height: 52px; padding-left: 60px; padding-top: 8px;}
.notice3 li a img {position: absolute; left: 0; top: 0; border: 1px solid #390;}
.notice3 li a strong {display: block;}
.notice3 li a em {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice3 .more {position: absolute; right: 0; top: 5px; background: url(../img/more.png) no-repeat; width: 16px; height: 16px; display: block;}

/* notice-hover */
.notice-hover {position: relative;}
.notice-hover h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice-hover ul {overflow: hidden;}
.notice-hover li {float: left; width: 33.3333%; text-align: center;}
.notice-hover li a span {position: relative; display: block; width: 90px; height: 90px; line-height: 90px; margin: 0 auto;}
.notice-hover li a span img {width: 90px; height: 90px;}
.notice-hover li a span em {visibility: hidden; position: absolute; left: 0; top: 0; background: url(../img/dot2.png); color: #fff; width: 100%; height: 100%;}
.notice-hover li a span:hover em {visibility: visible;}
.notice-hover li a strong {display: block; padding-top: 3px;}
.notice-hover .more {position: absolute; right: 0; top: 5px; background: url(../img/more.png) no-repeat; width: 16px; height: 16px; display: block;}

/* hide contents
   1. display: none;      <-> display: block;      layout X  Animation X
   2. visibility: hidden; <-> visibility: visible; layout O  Animation O
   3. opacity: 0;         <-> opacity: 1;          layout O  Animation O
   4. ir effect (width: 0; height: 0;)             layout X
*/
